<div *ngIf="!win && !lose">
  <carousel-component #carousel>
    <div *ngFor="let letra of letras" class="item-carousel letra">
      {{letra}}
    </div>
  </carousel-component>
  <div class="offset-md-2 col-md-8 mb-2">
      <button class="btn btn-primary btn-lg btn-block mt-2" (click)="enviarALetraSelecionada()">Enviar</button>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <div class="card card-block card-collapse footer-collapse-border">
                  <div class="flex-lg flex-nowrap text-xs-center text-lg-left">
                      <div class="col-md-12">
                          <div class="flex-lg flex-nowrap">
                              <div class="mx-auto">
                                  <h3>LETRAS SELECIONADAS</h3>
                                
                                  <span *ngFor="let letraSelecionada of letrasSelecionadas">
                                    {{letraSelecionada}}
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

<div *ngIf="win" class="offset-md-2 col-md-8 mb-2">
    <img src="../../assets/images/win.png" alt="ganhou" width="800px">
</div>
<div *ngIf="lose" class="offset-md-2 col-md-8 mb-2">
    <img src="../../assets/images/lose.png" alt="lose" width="800px">
</div>