<div class="form-group">
        <label for="nomeDoUsuarioText">O seu nome </label>
        <input type="text" class="form-control" name="nomeDoUsuarioText" id="nomeDoUsuarioText" aria-describedby="nameHelp" placeholder="Digite o seu nome" #nomeDoUsuarioText>
        <small id="nameHelp" class="form-text text-muted">Para prosseguir e obrigatorio inserir o seu nome :)</small>
        <button (click)="iniciarUmUsuario(nomeDoUsuarioText)" type="submit" class="btn btn-primary btn-lg btn-block mt-2">Enviar</button>
</div>
