<div *ngIf="!usuarioTemUmNome" >
    <h1 class="titulo text-center">BEM VINDO AO MELHOR JOGO DA FORCA DO MUNDO</h1>
    <div class="jumbotron vertical-center">
        <div class="container">
                    <form class="formulario">
                                <div class="form-group mx-sm-3 mb-2">
                                <label for="nomeDoUsuarioText" class="sr-only">O seu nome é?</label>
                                <input type="text" name="nomeDoUsuarioText" class="form-control" placeholder="Digite o seu nome!" #nomeDoUsuarioText>
                                </div>
                                <button (click)="iniciarUmUsuario(nomeDoUsuarioText)" type="submit" class="btn btn-primary mb-2">Enviar</button>
                    </form>
        </div>
    </div>
</div>


<div *ngIf="usuarioTemUmNome">
    <div class="container-fluid carroselCentralizado text-center">
        <app-piao  [letras]="letras" [letrasSelecionadas]="letrasSelecionadas"></app-piao>
    </div>
</div>

